p {
    color: gray;
}

#event-table {
    width: 100%;
    background-color: ghostwhite;
    border-radius: 10px;
    box-shadow: 0 0 3px #808080;

    overflow: hidden;
}
#event-table thead th {
    padding: 10px;
    color: #1e1e1e;
}

#event-table tbody tr td {
    padding: 10px;
    color: #1e1e1e;
    border-top: 1px solid #c2c2c2;
}
#event-table tbody tr:hover {
    background-color: #cfcfcf;
    transition: all 0.3s ease;
}